version: 2.1

orbs:
  gh: circleci/github-cli@2.5

jobs:
  build:
    docker:
      - image: cimg/base:current
    steps:
      - gh/setup
      - run: gh repo clone "$PARAM_GITHUB_REPO_EXPANDED"
      - gh/clone
      - run: ls -la
